html{ overflow-x: hidden; }

body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 2em;
    overflow-x: hidden;
}

img{
    width: 30px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #183119;
}

.highlight{
    font-family: 'Righteous', cursive;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #183119;
    margin-block-end: 0px;
    justify-content: center;
    text-align: center;
}

.text1 {
    color: #183119;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 3px;
}

.text2 {
    color: whitesmoke;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 10px 30px 10px 10px;
    font-size: 25px;
}

.ws-container-fluid {
    width: 100%;
    max-width: 970px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 15px;
}

.ws-block { 
    height: 130px; 
}

.ws-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frame-container{
    display: flex;  /*Flex 컨테이너 설정*/
    flex-direction: row;  /*아이템이 배치되는 축 방향(가로로 나란히 배치) 설정*/
    justify-content: center; /*아이템 간 공간 동일 분배*/
    align-items: center; /*아이템 간 상단 맞추기*/
}

.framebox{
    display: inline-flex;
    width: 45%;
    height: 500px;
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    justify-content: center; /*아이템 중앙 정렬*/
    align-items: center;  /*아이템 중앙 정렬*/
}

.cell{
    border: 6px solid #183119;
}

.vertical{
    border-collapse: collapse; /*표의 셀 테두리를 합친다.*/
    width: 40%;
    height: 80%;
}

.horizontal{
    border-collapse: collapse;
    width: 80%;
    height: 40%;
}

#left, #right{
    transition: transform 0.3s; /* 변환(크기 변경)에 대한 전환 효과 추가 */
}

.hover:hover{
    transform: scale(1.05); /* 요소에 마우스 올라갈 때 크기 확대 */
    cursor: pointer;
}

.framebox.clicked{
    background-color: #cccccc; /* 클릭 시 어둡게 색상 변경 */
}

.canvas-container1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px;
    width: 400px;
    height: 1080px;
    justify-content: center;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 70px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.canvas-container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    width: 672px;
    height: 600px;
    justify-content: center;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 70px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.canvas{
    border: 5px solid black;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease;
}

.canvas.hover{
    transform: scale(1.07); 
    filter: brightness(30%);
}

.btns-container{
    display: flex;
    flex-direction: column;
    gap: 210px;
    justify-content: center;
    text-align: center;
}

.btns-container2{
    display: flex;
    gap: 0px;
    margin-bottom: 40px;
    justify-content: center; 
    text-align: center;
}

.btns-color {
    width: 35px;
    height: 35px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.red { background-color: red; }
.orange { background-color:orange;}
.yellow { background-color:yellow;}
.green { background-color: green; }
.blue { background-color: blue; }
.darkblue { background-color:darkblue;}
.purple{background-color: purple;}
.white{background-color: white;}
.pink{background-color: pink;}
.grey{background-color: grey;}
.black{background-color: black;}

.fa{-moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    font-style:normal;
    font-variant:normal;
    text-rendering:auto;
    line-height:1
}

.fs-1x{font-size:1em}
.fs-2x{font-size:2em}
.fs-3x{font-size:3em}
.fs-4x{font-size:4em}
.fs-5x{font-size:5em}
.fs-6x{font-size:6em}
.fs-7x{font-size:7em}
.fs-8x{font-size:8em}
.fs-9x{font-size:9em}
.fs-10x{font-size:10em}

.ws-p-50 { padding: 50px; }
.ws-mb-0 { margin-bottom: 0; }
.ws-mb-30 { margin-bottom: 30px }
.ws-mb-40 { margin-bottom: 40px; }
.ws-mb-50 { margin-bottom: 50px; }
.ws-mb-60 { margin-bottom: 60px; }
.ws-mb-80 { margin-bottom: 80px; }
.ws-bgcolor-1 { background-color: #cce377; }
.ws-bgcolor-2 { background-color: #89a158; }
.ws-bgcolor-3 { background-color: #556f3d; }
.ws-bgcolor-4 { background-color: #324a28; }
.ws-bgcolor-5 { background-color: #183119; }
.ws-border-rounded { border-radius: 15px; }
